<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="namespace" default="/hsrb" />
  <arg name="sim" default="false" />
  <arg name="use_manipulation" default="$(optenv USE_MANIPULATION true)" />
  <arg name="use_navigation" default="$(optenv USE_NAVIGATION true)" />
  <arg name="use_perception" default="$(optenv USE_PERCEPTION true)" />
  <arg name="use_task" default="$(optenv USE_TASK true)" />
  <arg name="use_teleop" default="$(optenv USE_TELEOP true)" />
  <arg name="use_web" default="$(optenv USE_WEB true)" />
  <arg name="use_geometry" default="$(optenv USE_GEOMETRY true)" />
  <arg name="map" default="$(optenv ROS_HOME ~/.ros)/map/map.yaml" />
  <arg name="robot_name" default="hsrb" />

  <!-- common remapping -->
  <remap from="/joint_states" to="$(arg namespace)/joint_states" />

  <!-- manipulation -->
  <include file="$(find hsrb_common_launch)/launch/include/$(arg robot_name)_manipulation.xml"
           if="$(arg use_manipulation)">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>
  <!-- navigation -->
  <include file="$(find hsrb_common_launch)/launch/include/hsrb_navigation.xml"
           if="$(arg use_navigation)">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="map" value="$(arg map)"/>
  </include>
  <!-- perception -->
  <include file="$(find hsr_driveby_full)/launch/hsrb_launch_files/include/hsrb_perception.xml"
           if="$(arg use_perception)">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>
  <!-- task -->
  <include file="$(find hsrb_common_launch)/launch/include/hsrb_task.xml"
           if="$(arg use_task)">
    <arg name="sim" value="$(arg sim)"/>
  </include>
  <!-- teleop -->
  <include file="$(find hsrb_common_launch)/launch/include/hsrb_teleop.xml"
           if="$(arg use_teleop)">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>
  <!-- web -->
  <include file="$(find hsrb_common_launch)/launch/include/hsrb_web.xml"
           if="$(arg use_web)">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="sim" value="$(arg sim)" />
  </include>
  <!-- geometry -->
  <include file="$(find hsrb_common_launch)/launch/include/hsrb_geometry.xml"
           if="$(arg use_geometry)" >
  </include>
</launch>
