<?xml version="1.0"?>
<launch>
  <arg name="table_x" default="0.7" />
  <arg name="table_y" default="-0.7" />
  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find hsr_driveby_demo)/models/meeting_room_table/model.sdf -sdf -x $(arg table_x) -y $(arg table_y) -model my_table" />
  <!--<arg name="bottle_x" default="-0.2 + 0.7" />
  <arg name="bottle_y" default="-0.3 + 0.7" />-->
  <arg name="bottle_x" default="0.9" />
  <arg name="bottle_y" default="-0.4" />
  <arg name="bottle_z" default="0.8125" />
  <!--2.5 to face robot-->
  <arg name="bottle_Y" default="2.5" />
  <node name="spawn_bottle" pkg="gazebo_ros" type="spawn_model"
        args="-sdf -database bottle_with_marker -x $(arg bottle_x) -y $(arg bottle_y) -z $(arg bottle_z) -Y $(arg bottle_Y) -model bottle" />

</launch>